{% extends 'blogs/base.html' %}

{% block content %}
<!-- Page Header -->
  <header class="masthead" style="background-color: black">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            {% comment %} <h2 class="subheading"></h2> {% endcomment %}
            <span class="meta">Posted by
              {{ post.author }}
              on {{ post.date }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Page COntent -->
 <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{ post.body }}
        </div>
      </div>
    </div>
 </article>

{% if user.is_authenticated %}
<p><a href="{% url 'post_edit' post.pk %}">+ Edit Post</a></p>
<p><a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>
 {% endif %}

{% endblock content %}

