{% extends 'blogs/base.html' %}

{% block content %}
    <!-- Page Header -->
  <header class="masthead" style="background-color: black">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            {% comment %} <h2 class="subheading"></h2> {% endcomment %}
            {% comment %} <span class="meta">Posted by
              {{ post.author }}
              on {{ post.date }}</span> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Page content -->
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Edit Post</h1>
        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            <input type="submit" value="Update">
        </form>
        </div>
      </div>
    </div>  


{% endblock content %}